
body {

  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

.accordion{
  border: 3px solid #73AD21;
  width: 500px;
}

.accordion>button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion>button.active, .accordion>button:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.accordion>div {
  padding: 0 0 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

table{
  width: 100%;
  box-sizing: border-box;
}

td:nth-child(1){
  width: 40%;
  
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

td:nth-child(2){
  width: 60%;
  padding: 5px;
}

td>input, td>select{
  width: 100%;
  box-sizing: border-box;
}